*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    padding-top: 100px;
}

header{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
}

#big-square {
    height: 800px;
    width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.square.clicked{
    background-color: cyan;
    color: rgb(252, 70, 100);
}

.d-100{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.d-81{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.d-49{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square{
    border: 2px solid rgb(252, 70, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color: transparent;
    font-size: 20px;
    font-weight: bold;
}
                        /* BOTTONE */

.btn {
display: inline-block;
padding: 0.9rem 1.8rem;
font-size: 18px;
font-weight: 700;
color: white;
border: 3px solid rgb(252, 70, 100);
cursor: pointer;
position: relative;
background-color: transparent;
text-decoration: none;
overflow: hidden;
z-index: 1;
font-family: monospace;
}

.btn::before {
content: "";
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgb(252, 70, 100);
transform: translateX(-100%);
transition: all .3s;
z-index: -1;
}

.btn:hover::before {
transform: translateX(0);
}



select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: rgb(252, 70, 100);
    background-image: none;
    cursor: pointer;
    font-family: monospace;
    font-size: 20px;
  }
  /* Remove IE arrow */
  select::-ms-expand {
    display: none;
  }
  /* Custom Select wrapper */
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    margin-right: 15px;
  }
  /* Arrow */
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: rgb(252, 70, 100);
    transition: .25s all ease;
    pointer-events: none;
  }
  /* Transition */
  .select:hover::after {
    color: #000000;
  }
  